!!!
%html
%head
  %title Tumblo
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body>
  - if user_signed_in?
    Logged in as
    = current_user.email
    = link_to 'Edit profile', edit_user_registration_path
    = link_to "Logout", destroy_user_session_path, method: :delete
  - else
    = link_to "Sign up", new_user_registration_path
    = link_to "Login", new_user_session_path
  %br
  = yield
  %br

 /  - flash.each do |key, value|
 /  / <div class="alert alert-<%= key %> alert-dismissable">
 /    %div{:class=>"alert-#{key} alert-dismissable alert"}
 / / <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><%= value %>
 /      %button.close{:type=>"button","data-dismiss"=>"alert", "aria-hidden"=>"true"}
 /      = value

%p.notice= notice
%p.alert= alert




